.marker-glow {

    animation:
    markerPulse 2s infinite;

}


@keyframes markerPulse {


    0% {

        transform:scale(1);

        filter:
        drop-shadow(
        0 0 5px currentColor
        );

    }



    50% {

        transform:scale(1.18);

        filter:
        drop-shadow(
        0 0 18px currentColor
        );

    }



    100% {

        transform:scale(1);

        filter:
        drop-shadow(
        0 0 5px currentColor
        );

    }

}
